body {
  width: 90%;
  max-width: 90em;
  background-color: #eee;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1em;
  font-family: arial;
  text-align: center;
  color: #ddd;
  }

nav li {
  display: inline;
  }

/* flexible images */

header h1 {
       font-family: verdana;
       font-size: 32px;
       text-align: center;
       color: #0b0;
     }


img {
  max-width: 100%;
  height: auto;
  display: block;
    margin: 0 auto;
}

figcaption {
  text-align: center;
  font-family: arial;
  color: #555;
  margin: 4px 0 0 0;
}

section h2{
  font-family: verdana, sans-serif;
  color: #0b0;
  padding-top: 8px;
}

section ol{
  font-family: arial, sans-serif;
  padding: 2px 0 2px 41px;
  color: #333;
}

section ul{
  font-family: arial, sans-serif;

  padding: 2px 0 2px 41px;
  color: #333;
}

footer {
  font-family: arial;
  text-align: center;
}

section ul {
  padding-left: 0;
  margin-bottom: 0;
  }

section li {
  padding: 1em .5em;
  border-top: 1px solid #ddd;
  margin: 0 1.2em;
  }

#ingredients li {
  list-style: circle;
  margin-left: 1.2em;
  }

#instructions li {
  font: normal 1.02em/1.45 Georgia, serif;
  margin: 0;
  }

  a:link    {
  text-decoration:  none;
  font-weight:      bold;
  background-color: #eee;
  color: #333;

  }

  a:visited {
  text-decoration:  none;
  font-weight:      bold;
  background-color: #eee;
  color:            #aaa;
  }

  .jump-link-top {
  text-align: center;
  font-family: arial;
  margin: 1em 0 0 0;
  }


  /* in class */

  /* wider screen layout */

  @media (min-width: 60em) {

    header,
    section {
      float: left;
      width: 52%;
    }

  section {
      width: 40%;
    }

  header {
    margin: 2.5em 0 0 2em;
}

header h1 {
  font-size: 38px;
}

  header ul {
      font-size: 0px;
  }

  header figure {
    margin-top: -.2em;
  }


  .jump-link-top {
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    padding: 0;
    border: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
       clear: both;
     }

 #ingredients ul {
      list-style: none;
      text-align: left;
      padding: .5em;
      margin: 1em 3em 0 1em;
}

 #ingredients h2 {
     list-style: none;
     text-align: left;
     padding: .2em;
     margin: 1em 0 0 .5em;
}

  #ingredients .col {
      display: inline-block;
      width: 33.33333333333333%;
      text-align: left;
      vertical-align: top; /* so text always starts at top */
      background: #fff;
      margin-left: 3%;
     }

   #instructions ol {
        list-style: none;
        text-align: left;
        padding: .5em 0;
        margin: 1em 0 0 1em;
    }

    #instructions h2 {
         list-style: none;
         text-align: left;
         padding: .2em 0;
         margin: 1em 0 0 1em;
   }

      #instructions .col {
          display: inline-block;
          width: 30.33333333333333%;
          text-align: left;
          vertical-align: top; /* so text always starts at top */
          background: #fff;
          margin-left: 3%;
         }
}
